@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    font-family: 'Vollkorn, serif';
}

.LinkText {
    transition: color 0.1s ease-in-out;
}

.LinkText:hover {
    color: #64b4ff;
}